@{
    ViewData["Title"] = "Index";
}
<div class = "Index">
    <h2>INICIO SESION: </h2>
    <form action='@Url.Action("Login", "Home")' method="POST" enctype="multipart/form-data">
    <input type="email" name="email" placeholder="mail" autocomplete = "off"/>
    <input type="password" name="contraseña" placeholder="Contraseña"/>
    <input type="submit" value="Guardar"/>
    </form>
</div>